.footer {
  background-color: $FotterBackground;

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &__logo-container {
    margin: 60px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17em;
    text-align: center;

    /* identical to box height */
    letter-spacing: 0.03em;
    color: $BrandColor;

    text-decoration: none;

    // display: block;
    // padding: 60px 0 20px;
    margin-bottom: 20px;

    &--secondary {
      color: $ThirdColorText;
    }
  }

  &__contact {
    list-style: none;
    // margin-bottom: 60px;
    text-align: center;
  }

  &__contact-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;

    margin-bottom: 8px;

    /* or 171% */
    letter-spacing: 0.03em;

    color: $ThirdColorText;
  }

  &__contact-link {
    color: $SecondaryColorText;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $PrimaryColorHover;
      text-decoration: underline;
    }
  }
}

.footer-socials {
  margin-top: 60px;

  &__heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: #ffffff;

    margin-bottom: 20px;
  }

  &__icon {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: $ThirdColorText;

    &:hover,
    &:focus {
      background-color: $PrimaryColorHover;
      cursor: pointer;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  &__list-item {
    margin-bottom: 30px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.newsletter {
  margin: 60px 15px 0;
  padding-bottom: 60px;

  &__form {
    display: flex;
    flex-direction: column;
    // margin: 0 auto;
  }

  &__label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15em;
    letter-spacing: 0.03em;
    color: $ThirdColorText;
    text-align: center;

    margin-bottom: 20px;
  }

  &__input {
    display: flex;
    flex-direction: column;

    &--flex {
      min-width: 320px;
      max-width: 450px;
      margin: 0 auto;
    }

    &--email {
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;

      width: 100%;
      height: 50px;
      padding-left: 16px;

      background-color: $FotterBackground;
      color: rgba(255, 255, 255, 0.6);

      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus {
        box-shadow: 0px 0px 5px 0px rgba(255, 251, 251, 0.5);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  &__button {
    // margin-left: 12px;
    margin: 20px auto 0;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87em;
    color: $ThirdColorText;

    background: $BrandColor;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
      box-shadow: 0px 0px 10px 0px rgba(255, 251, 251, 0.5);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--icon {
      margin-left: 24px;
      fill: $BackgroundColor;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &--flex {
      flex-direction: row;
      justify-content: center;

      // margin: 0 auto;
    }

    &__logo-container {
      margin: 60px 0 0;
    }

    &__logo {
      text-align: center;
    }

    &__contact {
      margin: 0;
    }

    &-socials {
      margin: 65px 0 0 144px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;

    &__logo-container {
      margin: 0 0 0 215px;
    }

    &__logo {
      text-align: left;
    }

    &__contact {
      text-align: left;
    }

    &-socials {
      margin: 72px 78px 0 70px;
    }
  }

  .newsletter {
    margin: 72px 0 0;

    &__label {
      text-align: left;
    }

    &__input {
      // display: block;
      // display: flex;
      flex-direction: row;
      max-width: 570px;

      &--email {
        width: 354px;
      }
    }

    &__button {
      margin: 0 0 0 12px;
      width: 200px;
    }
  }
}
