// Background Color
$BackgroundColor: rgb(255, 255, 255);
$TeamBackground: rgb(245, 244, 250);
$FotterBackground: rgb(47, 48, 58);

// Button Background if not Brand
$ButtonBackgroundColor: rgb(245, 244, 250);

// Brand Color
$BrandColor: rgb(33, 150, 243);

// Menu
$MenuBarBottomBorder: rgb(236, 236, 236);

// Hover
$PrimaryColorHover: rgb(33, 150, 243);

// Text
$PrimaryColorText: rgb(33, 33, 33);
$SecondaryColorText: rgb(117, 117, 117);
$ThirdColorText: rgb(255, 255, 255);

// Icons
$DefaulfFill: rgb(175, 177, 184);
